<div class="container-fluid fill">
  <div class="row">
    <div class="col-md-3 sidebar left-hand-options">
      <h4> Filters </h4>
      <div class="slider-container">
        <span>Paternity Leave</span>
        <slider ng-model="filter.paternity" min="filter.size.min" step="step" max="filter.size.max" value="filter.paternity.value" on-stop-slide="onPaternityStop($event, value)"></slider>
      </div>
      <div class="slider-container">
        <span>Maternity Leave</span>
        <slider ng-model="filter.maternity" min="filter.size.min" step="step" max="filter.max" value="filter.maternity.value" on-stop-slide="onMaternityStop($event, value)"></slider>
      </div>
      <div class="slider-container">
        <span>Paid Time Off</span>
        <slider ng-model="filter.pto" min="filter.min" step="step" max="filter.max" value="filter.pto.value" on-stop-slide="onPtoStop($event, value)"></slider>
      </div>
      <div class="slider-container">
        <span class="switch-text"> Mother's room </span>
        <switch id="enabled" name="enabled" ng-model="filter.mothersRoom" on="Yes" off="No" class="green" ng-change="mothersRoomChanged($event, value)"/>
      </div>
      <div class="slider-container">
        <span class="switch-text"> Medical Insurance </span>
        <switch id="enabled" name="enabled" ng-model="filter.medicalInsuranceEnabled" on="Yes" off="No" class="green" ng-change="medicalInsuranceChanged($event, value)"/>
      </div>
      <div class="slider-container">
        <span class="switch-text"> Telecommute </span>
        <switch id="enabled" name="enabled" ng-model="filter.telecommute" on="Yes" off="No" class="green" ng-change="telecommuteChanged($event, value)"/>
      </div>
      <div class="slider-container">
        <span class="switch-text"> Onsite day care </span>
        <switch id="enabled" name="enabled" ng-model="filter.onsiteDayCare" on="Yes" off="No" class="green" ng-change="daycareChanged($event, value)"/>
      </div>
    </div>
    <div class="col-md-5">
      <div class="panel panel-default results-panel">
        <div class="panel-heading">Results</div>
        <div class="panel-body">
          <card-directive name="LinkedIn" address="Abc street, 1101 Sunnyvale"></card-directive>
          <card-directive name="Google" address="Abc street, 1102 Sunnyvale"></card-directive>
          <card-directive name="Facebook" address="Abc street, 1102 Palo Alto"></card-directive>
          <card-directive name="Walmart Labs" address="Abc street, 11 Sunnyvale"></card-directive>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <span class="glyphicon glyphicon-triangle-left"></span>
      <div class="side-panel">
        <div class="panel panel-default">
          <div class="panel-body">
            <p>
              Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
            </p>
            <p>
              Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
            </p>
            <p>
              Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
            </p>
          </div>
        </div>
      </div>
    <div>
  </div>
</div>
