<div class="container-fluid fill">
  <div class="row">
    <div class="col-md-3 sidebar left-hand-options">
      <h4> Filters </h4>
      <div class="slider-container">
        <span>Paternity Leave</span>
        <slider ng-model="sliders.sliderValue" min="testOptions.min" step="testOptions.step" max="testOptions.max" value="testOptions.value"></slider>
      </div>
      <div class="slider-container">
        <span>Maternity Leave</span>
        <slider ng-model="sliders.sliderValue" min="testOptions.min" step="testOptions.step" max="testOptions.max" value="testOptions.value"></slider>
      </div>
      <div class="slider-container">
        <span>Paid Time Off</span>
        <slider ng-model="sliders.sliderValue" min="testOptions.min" step="testOptions.step" max="testOptions.max" value="testOptions.value"></slider>
      </div>
      <div class="slider-container">
        <span class="switch-text"> Mother's room </span>
        <switch id="enabled" name="enabled" ng-model="enabled" on="Yes" off="No" class="green"/>
      </div>
      <div class="slider-container">
        <span class="switch-text"> Medical Insurance </span>
        <switch id="enabled" name="enabled" ng-model="enabled" on="Yes" off="No" class="green"/>
      </div>
      <div class="slider-container">
        <span class="switch-text"> Telecommute </span>
        <switch id="enabled" name="enabled" ng-model="enabled" on="Yes" off="No" class="green"/>
      </div>
      <div class="slider-container">
        <span class="switch-text"> Onsite day care </span>
        <switch id="enabled" name="enabled" ng-model="enabled" on="Yes" off="No" class="green"/>
      </div>
    </div>
    <div class="col-md-5">
      <div class="panel panel-default results-panel">
        <div class="panel-heading">Results</div>
        <div class="panel-body"> 
          <button class="card-container" onclick="">
            <span class="title">LinkedIn</span>
            <div class="address">
              Abc street, 1101
              Sunnyvale
            </div>
          </button>
          <button class="card-container" onclick="">
            <span class="title">Google</span>
            <div class="address">
              Abc street, 1101
              Sunnyvale
            </div>
          </button>
          <button class="card-container" onclick="">
            <span class="title">Google</span>
            <div class="address">
              Abc street, 1101
              Sunnyvale
            </div>
          </button>
          <button class="card-container" onclick="">
            <span class="title">Google</span>
            <div class="address">
              Abc street, 1101
              Sunnyvale
            </div>
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <span class="glyphicon glyphicon-triangle-left"></span>
      <div class="side-panel">
        <div class="panel panel-default">
          <div class="panel-body">
            <p>
              Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
            </p>
            <p>
              Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
            </p>
            <p>
              Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
            </p>
          </div>
        </div>
      </div>
    <div>
  </div>
</div>
